@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-imm-orange: #f7941e;
  --color-imm-dark: #0f172a;
  --color-imm-blue: #3257b5;
  --color-reddmas-red: #d23439;
  --font-sans: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
